<p>
  <b>Items:</b>
  <%=h @inventory.items %>
</p>

<p>
  <b>Location:</b>
  <%=h @inventory.location %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @inventory.quantity %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>